// ========================================
// ** Google fonts **
// ========================================
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,500,700,900&subset=cyrillic');


// ========================================
// ** Common styles **
// ========================================
html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #aaa;
}

img {
	max-width: 100%;
	height: auto;
}
