// Variables
$whiteColor: #fff;
$blackColor: #000;
$darkBlueColor: #007cbf;
$lightBlueColor: #007cbb;
$lighterBlueColor: #54c3ff;
$textColor: #646464;
$darkTextColor: #313131;
$grayColor: #f7f7f7;

$robotoCondensed: "roboto_condensedregular", Arial, Tahoma, sans-serif;
$robotoBlack: "robotoblack", Arial, Tahoma, sans-serif;
$robotoBold: "robotobold", Arial, Tahoma, sans-serif;
$robotoLight: "robotolight", Arial, Tahoma, sans-serif;
$robotoMedium: "robotomedium", Arial, Tahoma, sans-serif;
$robotoRegular: "robotoregular", Arial, Tahoma, sans-serif;

