// ========================================
// ** Extended styles **
// ========================================
@import "fonts";

// ========================================
// ** Variables **
// ========================================
$whiteColor: #fff;
$blackColor: #000;
$darkBlueColor: #007cbf;
$lightBlueColor: #007cbb;
$lighterBlueColor: #54c3ff;
$textColor: #646464;
$darkTextColor: #313131;
$grayColor: #f7f7f7;
$orangeColor: #ff8d27;
$greenColor: #28c387;

$robotoBlack: "robotoblack", Arial, Tahoma, sans-serif;
$robotoBold: "robotobold", Arial, Tahoma, sans-serif;
$robotoItalic: "robotoitalic", Arial, Tahoma, sans-serif;
$robotoLight: "robotolight", Arial, Tahoma, sans-serif;
$robotoMedium: "robotomedium", Arial, Tahoma, sans-serif;
$robotoRegular: "robotoregular", Arial, Tahoma, sans-serif;
$robotoCondensedRegular: "roboto_condensedregular", Arial, Tahoma, sans-serif;
$robotoCondensedBold: "roboto_condensedbold", Arial, Tahoma, sans-serif;
