// ========================================
// ** Extended styles **
// ========================================
@import "fonts";
@import "vars";
@import "mixins";

// ========================================
// ** Common styles **
// ========================================
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	//overflow: hidden;
}

body {
	position: relative;
	color: $textColor;
	font-family: $robotoRegular;
	font-size: 14px;
	line-height: 24px;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

// Main wrapper
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

// Typography
.sect-title {
	position: relative;
	display: inline-block;
	color: $darkBlueColor;
	font-family: $robotoBlack;
	font-size: 48px;
	line-height: 40px;
	text-transform: uppercase;
	&::after {
		content: '';
		position: absolute;
		right: -53px;
		bottom: 2px;
		width: 35px;
		height: 2px;
		background-color: $lighterBlueColor;
	}
}

// Breadcrumbs
.main-breadcrumbs {
	width: 100%;
	padding: 15px 0;
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		position: relative;
		display: block;
		padding-right: 23px;
		margin-right: 20px;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			display: block;
			width: 4px;
			height: 7px;
			background: transparent url("../img/icons/angle-right.svg") no-repeat;
			transform: translateY(-50%);
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}
	&__link,
	&__current {
		color: #2d2d2d;
		font-family: $robotoItalic;
		font-size: 12px;
		letter-spacing: 0.1em;
	}
	&__link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

// ========================================
// ** CALLBACK MODAL **
// ========================================
.modal-callback {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	display: none;
	width: 455px;
	max-width: 455px;
	background-color: $whiteColor;
	box-shadow: 0 21px 27px 0 rgba(0, 0, 0, 0.18);
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		width: 30px;
		height: 30px;
		text-indent: -9999px;
		border: none;
		background: transparent;
		box-shadow: none;
		cursor: pointer;
		outline: 0;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 2px;
			background-color: $lightBlueColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&__wrapper {
		padding: 42px 30px 50px;
	}

	&.active {
		display: block;
	}
}

.callback-form {
	&__title {
		margin-bottom: 35px;
		font-size: 24px;
		line-height: 40px;
		&::after {
			bottom: 10px;
		}
	}
	&__control {
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input,
	&__textarea {
		box-sizing: border-box;
		display: block;
		width: 100%;
		margin-top: 15px;
		padding: 5px;
		color: $lightBlueColor;
		font: 14px $robotoBold;
		border: none;
		border-radius: 0;
		background-color: $whiteColor;
		transition: 0.25s ease-in-out;
		outline: 0;
		&:focus {
			outline: 0;
			~ label {
				top: -4px;
				font-size: 12px;
				opacity: 1;
			}
			~ .callback-form__bar::before {
				transform: translateX(0);
			}
		}
		&:valid {
			~ label {
				top: -4px;
				font-size: 12px;
			}
		}
		//&:invalid {
		//	~ label {
		//		color: red;
		//		opacity: 1;
		//	}
		//	~ .callback-form__bar {
		//		background-color: red;
		//	}
		//}
		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 1000px $whiteColor inset;
			-webkit-text-fill-color: $whiteColor !important;
		}
	}
	&__textarea {
		resize: none;
	}
	&__label {
		position: absolute;
		top: 15px;
		left: 30px;
		color: $lightBlueColor;
		font: 20px $robotoBold;
		cursor: text;
		transition: 0.25s ease-in-out;
		opacity: 0.5;
	}
	&__bar {
		position: relative;
		width: 100%;
		height: 2px;
		background-color: rgba(#54c3ff, 0.3);
		transition: 0.25s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 150%;
			background-color: #54c3ff;
			transform: translateX(-100%);
		}
	}
	&__btn {
		display: inline-block;
		width: 156px;
		max-width: 156px;
		max-height: 44px;
		padding: 13px;
		margin-top: 35px;
		color: $whiteColor;
		font-family: $robotoBold;
		font-size: 14px;
		letter-spacing: 0.05em;
		text-align: center;
		border: none;
		border-radius: 45px;
		background-color: $lightBlueColor;
		box-shadow: none;
		cursor: pointer;
		outline: 0;
		transition: 0.3s ease-in-out;
		&:hover {
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
		}
		&:active {
			box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.39);
		}
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	display: none;
	background-color: rgba(#3b3d40, 0.67);
	transition: 0.5s ease-in-out;
	&.active {
		display: block;
	}
}


// ========================================
// ** MAIN HEADER **
// ========================================
.main-header {
	width: 100%;
	background-color: $whiteColor;
}

.top-line {
	width: 100%;
	min-height: 51px;
	color: $darkTextColor;
	background-color: $grayColor;
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}
	&__list {
		display: flex;
		align-items: center;
	}
	&__link {
		display: block;
		padding: 14px;
		color: $darkTextColor;
		font-size: 12px;
		line-height: 1;
		text-decoration: none;
		&:first-child {
			padding-left: 0;
		}
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
	&__shedule {
		display: block;
		margin-left: auto;
		margin-right: 47px;
		font-size: 12px;
		letter-spacing: 0.05em;
	}
	&__phone {
		display: block;
		font-family: $robotoMedium;
		line-height: 1;
		letter-spacing: 0.05em;
	}
	&__callback-link {
		display: block;
		color: $lightBlueColor;
		font-size: 10px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		text-align: center;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.bottom-line {
	width: 100%;
	min-height: 75px;
	box-shadow: 0 0 6px 0 rgba($blackColor, 0.25);
	&__wrapper {
		display: flex;
		align-items: center;
		align-content: center;
	}
	&__logo {
		max-width: 215px;
		img {
			vertical-align: middle;
		}
	}
	&__nav {
		position: relative;
		margin-left: auto;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 20px;
			bottom: 20px;
			width: 1px;
			background-color: $blackColor;
		}
	}
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		display: block;
	}
	&__link {
		position: relative;
		display: block;
		overflow: hidden;
		padding: 30px 20px;
		color: $blackColor;
		font-family: $robotoCondensedBold;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration: none;
		transition: all 0.25s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 20px;
			right: 20px;
			height: 5px;
			background-color: transparent;
			transition: all 0.25s ease-in-out;
		}
		&:hover {
			color: $lightBlueColor;
			&::after {
				background-color: $lightBlueColor;
			}
		}
		&.active {
			color: $lightBlueColor;
			&::after {
				background-color: $lightBlueColor;
			}
		}
	}
	&__aside {
		display: flex;
		align-items: center;
		padding-left: 9px;
	}
	&__circle {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		margin: 11px;
		border: 1px solid rgba($blackColor, 0.5);
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.25s ease-in-out;
		&:last-child {
			margin-right: 0;
		}
		&:hover,
		&:active,
		&.active {
			color: $whiteColor;
			border-color: $lightBlueColor;
			background-color: $lightBlueColor;
			svg {
				fill: $whiteColor;
				line {
					stroke: $whiteColor;
				}
			}
		}
		svg {
			fill: $blackColor;
		}
		&--search {
			svg {
				width: 10px;
				height: 10px;
				line {
					fill: none;
					stroke: $blackColor;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-miterlimit: 10;
				}
			}
		}
		&--info {
			span {
				font-size: 16px;
			}
		}
		&--cart {
			svg {
				width: 17px;
				height: 13px;
			}
		}
		&-count {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			font-family: $robotoMedium;
			color: $blackColor;
			font-size: 11px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			border: 1px solid rgba($blackColor, 0.5);
			border-radius: 50%;
			background-color: $whiteColor;
		}
	}
}


// ========================================
// ** PAGES **
// ========================================
@import "_pages/index";
@import "_pages/catalog";

// ========================================
// ** MAIN FOOTER **
// ========================================
.main-footer {
	padding: 65px 0 13px;
	background-color: #3b3d40;
	&__wrapper {
		display: flex;
		align-items: flex-start;
		margin-bottom: 15px;
	}
	&__logo {
		max-width: 200px;
	}
	&__nav {
		flex: 1;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 85px;
		padding-right: 70px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: -23px;
			bottom: -84px;
			width: 1px;
			background-color: #626262;
		}
	}
	&__list-title {
		margin-bottom: 10px;
		color: $whiteColor;
		font-family: $robotoCondensedBold;
		font-size: 16px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	&__link {
		color: #c3c3c3;
		font-family: $robotoLight;
		font-size: 12px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__contacts {
		padding-left: 73px;
		padding-right: 70px;
		//margin-left: auto;
		color: $whiteColor;
	}
	&__contacts-icon {
		margin-right: 10px;
		fill: $whiteColor;
		transition: all 0.3s ease-in-out;
		&--location {
			width: 13px;
			height: 17px;
		}
		&--mail {
			width: 16px;
			height: 10px;
		}
		&--phone {
			width: 15px;
			height: 15px;
			path {
				fill: none;
				stroke: $whiteColor;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}
	}
	&__address {
		display: flex;
		margin-bottom: 15px;
		p {
			font-family: $robotoLight;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.05em;
		}
	}
	&__mail {
		margin-bottom: 15px;
		a {
			color: $whiteColor;
			font-family: $robotoLight;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 0.05em;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $textColor;
				svg {
					fill: $textColor;
				}
			}
		}
	}
	&__phones {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		max-width: 135px;
	}
	&__phone {
		font-family: $robotoCondensedBold;
		font-size: 16px;
		letter-spacing: 0.025em;
		text-transform: uppercase;
	}
	&__copy {
		color: #787878;
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 0.05em;
	}
}
