// ========================================
// ** Font face **
// ========================================
@font-face {
	font-family: "roboto_condensedregular";
	src: url("../fonts/robotocondensed-regular-webfont.eot");
	src: url("../fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff") format("woff"), url("../fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "robotoblack";
	src: url("../fonts/roboto-black-webfont.eot");
	src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype"), url("../fonts/roboto-black-webfont.svg#robotomedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "robotobold";
	src: url("../fonts/roboto-bold-webfont.eot");
	src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#robotomedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "robotolight";
	src: url("../fonts/roboto-light-webfont.eot");
	src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotomedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "robotomedium";
	src: url("../fonts/roboto-medium-webfont.eot");
	src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "robotoregular";
	src: url("../fonts/roboto-regular-webfont.eot");
	src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ds-digitalnormal";
	src: url("../fonts/ds-digi-webfont.eot");
	src: url("../fonts/ds-digi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ds-digi-webfont.woff2") format("woff2"), url("../fonts/ds-digi-webfont.woff") format("woff"), url("../fonts/ds-digi-webfont.ttf") format("truetype"), url("../fonts/ds-digi-webfont.svg#ds-digitalnormal") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ds-digitalbold";
	src: url("../fonts/ds-digib-webfont.eot");
	src: url("../fonts/ds-digib-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ds-digib-webfont.woff2") format("woff2"), url("../fonts/ds-digib-webfont.woff") format("woff"), url("../fonts/ds-digib-webfont.ttf") format("truetype"), url("../fonts/ds-digib-webfont.svg#ds-digitalbold") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "roboto_slabbold";
	src: url("../fonts/robotoslab-bold-webfont.eot");
	src: url("../fonts/robotoslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoslab-bold-webfont.woff2") format("woff2"), url("../fonts/robotoslab-bold-webfont.woff") format("woff"), url("../fonts/robotoslab-bold-webfont.ttf") format("truetype"), url("../fonts/robotoslab-bold-webfont.svg#roboto_slabbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

// ========================================
// ** Extended styles **
// ========================================
@import "_mixins";

// ========================================
// ** Common styles **
// ========================================
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	//overflow: hidden;
}

body {
	position: relative;
	color: $textColor;
	font-family: $robotoRegular;
	font-size: 14px;
	line-height: 24px;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

// Main wrapper
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

// Typography
.sect-title {
	position: relative;
	display: inline-block;
	color: $darkBlueColor;
	font-family: $robotoBlack;
	font-size: 48px;
	line-height: 40px;
	text-transform: uppercase;
	&::after {
		content: '';
		position: absolute;
		right: -53px;
		bottom: 2px;
		width: 35px;
		height: 2px;
		background-color: $lighterBlueColor;
	}
}

// ========================================
// ** CALLBACK MODAL **
// ========================================
.modal-callback {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	display: none;
	width: 455px;
	max-width: 455px;
	background-color: $whiteColor;
	box-shadow: 0 21px 27px 0 rgba(0, 0, 0, 0.18);
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		width: 30px;
		height: 30px;
		text-indent: -9999px;
		border: none;
		background: transparent;
		box-shadow: none;
		cursor: pointer;
		outline: 0;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 2px;
			background-color: $lightBlueColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&__wrapper {
		padding: 42px 30px 50px;
	}

	&.active {
		display: block;
	}
}
.callback-form {
	&__title {
		margin-bottom: 35px;
		font-size: 24px;
		line-height: 40px;
		&::after {
			bottom: 10px;
		}
	}
	&__control {
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input,
	&__textarea {
		box-sizing: border-box;
		display: block;
		width: 100%;
		margin-top: 15px;
		padding: 5px;
		color: $lightBlueColor;
		font: 14px $robotoBold;
		border: none;
		border-radius: 0;
		background-color: $whiteColor;
		transition: 0.25s ease-in-out;
		outline: 0;
		&:focus {
			outline: 0;
			~ label {
				top: -4px;
				color: $blackColor;
			}
			~ .callback-form__bar::before {
				transform: translateX(0);
			}
		}
		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 1000px $whiteColor inset;
			-webkit-text-fill-color: $whiteColor !important;
		}
	}
	&__textarea {
		resize: none;
	}
	&__label {
		position: absolute;
		top: 5px;
		left: 30px;
		color: $lightBlueColor;
		font: 12px $robotoBold;
		cursor: text;
		transition: 0.25s ease-in-out;
	}
	&__bar {
		position: relative;
		width: 100%;
		height: 2px;
		background-color: rgba(#54c3ff, 0.3);
		transition: 0.25s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 150%;
			background-color: #54c3ff;
			transform: translateX(-100%);
		}
	}
	&__btn {
		display: inline-block;
		width: 156px;
		max-width: 156px;
		max-height: 44px;
		padding: 13px;
		margin-top: 35px;
		color: $whiteColor;
		font-family: $robotoBold;
		font-size: 14px;
		letter-spacing: 0.05em;
		text-align: center;
		border: none;
		border-radius: 45px;
		background-color: $lightBlueColor;
		box-shadow: none;
		cursor: pointer;
		outline: 0;
		transition: 0.3s ease-in-out;
		&:hover {
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
		}
		&:active {
			box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.39);
		}
	}
}
.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	display: none;
	background-color: rgba(#3b3d40, 0.67);
	transition: 0.5s ease-in-out;
	&.active {
		display: block;
	}
}


// ========================================
// ** 1. HEADER **
// ========================================
.main-header {
	width: 100%;
	background-color: $whiteColor;
}

.top-line {
	width: 100%;
	min-height: 51px;
	color: $darkTextColor;
	background-color: $grayColor;
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}
	&__list {
		display: flex;
		align-items: center;
	}
	&__link {
		display: block;
		padding: 14px;
		color: $darkTextColor;
		font-size: 12px;
		line-height: 1;
		text-decoration: none;
		&:first-child {
			padding-left: 0;
		}
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
	&__shedule {
		display: block;
		margin-left: auto;
		margin-right: 47px;
		font-size: 12px;
		letter-spacing: 0.05em;
	}
	&__phone {
		display: block;
		font-family: $robotoMedium;
		line-height: 1;
		letter-spacing: 0.05em;
	}
	&__callback-link {
		display: block;
		color: $lightBlueColor;
		font-size: 10px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		text-align: center;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.bottom-line {
	width: 100%;
	min-height: 75px;
	box-shadow: 0 0 6px 0 rgba($blackColor, 0.25);
	&__wrapper {
		display: flex;
		align-items: center;
		align-content: center;
	}
	&__logo {
		max-width: 215px;
		img {
			vertical-align: middle;
		}
	}
	&__nav {
		position: relative;
		margin-left: auto;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 20px;
			bottom: 20px;
			width: 1px;
			background-color: $blackColor;
		}
	}
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		display: block;
	}
	&__link {
		position: relative;
		display: block;
		overflow: hidden;
		padding: 30px 20px;
		color: $blackColor;
		font-family: $robotoCondensed;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration: none;
		transition: all 0.25s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 20px;
			right: 20px;
			height: 5px;
			background-color: transparent;
			transition: all 0.25s ease-in-out;
		}
		&:hover {
			color: $lightBlueColor;
			&::after {
				background-color: $lightBlueColor;
			}
		}
		&.active {
			color: $lightBlueColor;
			&::after {
				background-color: $lightBlueColor;
			}
		}
	}
	&__aside {
		display: flex;
		align-items: center;
		padding-left: 9px;
	}
	&__circle {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		margin: 11px;
		border: 1px solid rgba($blackColor, 0.5);
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.25s ease-in-out;
		&:last-child {
			margin-right: 0;
		}
		&:hover,
		&:active,
		&.active {
			color: $whiteColor;
			border-color: $lightBlueColor;
			background-color: $lightBlueColor;
			svg {
				fill: $whiteColor;
				line {
					stroke: $whiteColor;
				}
			}
		}
		svg {
			fill: $blackColor;
		}
		&--search {
			svg {
				width: 10px;
				height: 10px;
				line {
					fill: none;
					stroke: $blackColor;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-miterlimit: 10;
				}
			}
		}
		&--info {
			span {
				font-size: 16px;
			}
		}
		&--cart {
			svg {
				width: 17px;
				height: 13px;
			}
		}
		&-count {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			font-family: $robotoCondensed;
			color: $blackColor;
			font-size: 11px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			border: 1px solid rgba($blackColor, 0.5);
			border-radius: 50%;
			background-color: $whiteColor;
		}
	}
}


// ========================================
// ** 2. HERO SECTION **
// ========================================
.sect-hero {
	position: relative;
	display: flex;
	height: calc(100vh - 127px);
	background: transparent url("../img/hero-bg.jpg") no-repeat;
	background-size: cover;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#002538, 0.6);
	}
	.container {
		position: relative;
		z-index: 1;
		margin: auto;
	}
	&__wrapper {
		margin-left: 65px;
		color: $whiteColor;
	}
	&__title {
		margin-bottom: 17px;
		font-family: $robotoMedium;
		font-size: 64px;
		line-height: 72px;
	}
	&__descr {
		font-family: $robotoLight;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: -0.05em;
	}
	&__link {
		position: relative;
		display: block;
		padding-left: 70px;
		color: $lighterBlueColor;
		font-family: $robotoMedium;
		font-size: 20px;
		line-height: 72px;
		text-decoration: none;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 50px;
			height: 50px;
			margin-top: -25px;
			background: transparent url("../img/icons/play.png") no-repeat;
		}
	}
	&__more {
		content: '';
		position: absolute;
		bottom: 50px;
		left: 50%;
		z-index: 1;
		display: block;
		img {
			width: 35px;
			height: 58px;
		}
		&:hover {
			img {
				animation: spin-down 2s ease-in-out infinite;
			}
		}
	}
}

@keyframes spin-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0);
	}
}


// ========================================
// ** 3. FEATURES SECTION **
// ========================================
.sect-features {
	padding: 90px 0 100px;
	background-color: $grayColor;
	&__title-block {
		margin-bottom: 60px;
	}
	&__descr {
		font-family: $robotoLight;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 0.01em;
		text-align: center;
	}
	&__text {
		display: block;
		color: $lighterBlueColor;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
	}
	&__wrapper {
		max-width: 1020px;
		margin: 45px auto 40px;
	}
	&__more {
		display: block;
		width: 171px;
		max-width: 171px;
		height: 44px;
		max-height: 44px;
		margin: 0 auto;
		color: $whiteColor;
		font-family: $robotoBold;
		font-size: 14px;
		line-height: 40px;
		letter-spacing: 0.05em;
		text-align: center;
		text-decoration: none;
		border: 2px solid $lightBlueColor;
		border-radius: 45px;
		background-color: $lightBlueColor;
		transition: all 0.35s ease-in-out;
		&:hover {
			color: $textColor;
			background-color: transparent;
		}
	}
}
.features-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 205px;
		width: 200px;
		margin-bottom: 60px;
		&:nth-child(3) {
			margin-bottom: 0;
		}
	}
	&__img {
		max-width: 55px;
		cursor: pointer;
	}
	&__descr {
		color: $darkTextColor;
		font-size: 14px;
		line-height: 1;
	}
	&__right {
		.features-list__descr {
			margin-left: 20px;
		}
	}
}

// ========================================
// ** 4. ABOUT SECTION **
// ========================================
.sect-about {
	position: relative;
	padding: 100px 0;
	background: $lightBlueColor url("../img/about-bg.jpg") no-repeat;
	background-size: cover;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#002538, 0.6);
	}
}
.about-box {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	background-color: $whiteColor;
	box-shadow: 13px 13px 18px 0 rgba(0, 0, 0, 0.26);
	&__content {
		position: relative;
		flex: 1 50%;
		padding-right: 77px;
		padding-left: 90px;
		&::after {
			content: '';
			position: absolute;
			top: 40px;
			right: -15px;
			z-index: 1;
			display: block;
			width: 0;
			height: 0;
			border-top: 13px solid transparent;
			border-left: 15px solid $whiteColor;
			border-bottom: 13px solid transparent;
		}
	}
	&__title-block {
		margin-bottom: 33px;
	}
	&__greeting {
		margin-bottom: 6px;
		color: $darkTextColor;
		font-family: $robotoBold;
		font-size: 16px;
		line-height: 24px;
	}
	&__descr {
		margin-bottom: 32px;
		font-family: $robotoLight;
		strong {
			font-family: $robotoMedium;
		}
	}
	&__link {
		display: inline-block;
		width: 157px;
		max-width: 157px;
		height: 44px;
		max-height: 44px;
		color: $whiteColor;
		font-family: $robotoBold;
		font-size: 14px;
		line-height: 40px;
		letter-spacing: 0.05em;
		text-align: center;
		text-decoration: none;
		border: 2px solid $lightBlueColor;
		border-radius: 45px;
		background-color: $lightBlueColor;
		transition: all 0.35s ease-in-out;
		&:hover {
			color: $textColor;
			background-color: transparent;
		}
	}
	&__photo {
		position: relative;
		flex: 1 50%;
	}
	&__img {
		vertical-align: middle;
	}
	&__photo-descr {
		position: absolute;
		top: 43px;
		left: 50px;
		color: $darkTextColor;
	}
	&__photo-person {
		font-family: $robotoMedium;
		font-size: 16px;
		line-height: 24px;
	}
	&__photo-text {
		font-family: $robotoLight;
		font-size: 12px;
		line-height: 16px;
	}
}


// ========================================
// ** 5. ADVANTAGES SECTION **
// ========================================
.sect-advantages {
	position: relative;
	padding: 92px 0 100px;
	background: transparent url("../img/advantages-bg.png") no-repeat;
	background-size: cover;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background:
			linear-gradient(
					to right,
					$lightBlueColor,
					$lightBlueColor 50%,
					#409fd2 50%,
					#409fd2 100%
			);
	}
	&__title {
		margin-bottom: 36px;
		color: $whiteColor;
		font-family: $robotoBlack;
		font-size: 48px;
		line-height: 60px;
		text-align: center;
	}
	&__link {
		display: block;
		width: 605px;
		max-width: 605px;
		height: 64px;
		max-height: 64px;
		padding: 18px;
		margin: 0 auto;
		color: $lightBlueColor;
		font-family: $robotoBold;
		font-size: 18px;
		letter-spacing: 0.05em;
		text-align: center;
		text-decoration: none;
		border: 2px solid $whiteColor;
		border-radius: 45px;
		background-color: $whiteColor;
		transition: all 0.35s ease-in-out;
		box-shadow: 3px 3px 5px 0 rgba($blackColor, 0.21);
		&:hover {
			color: $whiteColor;
			background-color: transparent;
		}
	}
}

.advantages-items {
	display: flex;
	align-items: center;
	overflow: hidden;
	max-width: 960px;
	margin: auto;
	&__left,
	&__right {
		flex: 1 50%;
		display: flex;
		flex-direction: column;
	}
	&__left {
		align-items: flex-end;
		padding-right: 50px;
		padding-left: 35px;
		.advantages-item {
			align-self: flex-start;
			&:nth-child(2) {
				margin-left: auto;
				margin-right: auto;
			}
			&:nth-child(3) {
				align-self: flex-end;
			}
			&__circle {
				margin-left: 20px;
			}
		}
	}
	&__right {
		align-items: flex-start;
		padding-left: 50px;
		.advantages-item {
			align-self: flex-end;
			&:nth-child(2) {
				margin-left: auto;
				margin-right: auto;
			}
			&:nth-child(3) {
				align-self: flex-start;
			}
			&__circle {
				margin-right: 20px;
			}
		}
	}
}
.advantages-item {
	flex: 1;
	display: flex;
	align-items: center;
	margin-bottom: 120px;
	color: $whiteColor;
	&__text {
		display: inline-block;
		font-size: 16px;
		line-height: 18px;
	}
	&__circle {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: $whiteColor;
		&::before {
			content: '';
			position: absolute;
			top: 100px;
			left: auto;
			width: 4px;
			height: 670px;
			max-height: 670px;
			background: transparent url("../img/icons/dotted-line.png") center repeat-y;
			opacity: 0.5;
		}
	}
	&__icon {
		display: inline-block;
		background-repeat: no-repeat;
		background-position: 0 0;
		&--wrench {
			width: 38px;
			height: 38px;
			background-image: url("../img/icons/wrench.png");
		}
		&--shield {
			width: 40px;
			height: 43px;
			background-image: url("../img/icons/shield.png");
		}
		&--guarantee {
			width: 36px;
			height: 39px;
			background-image: url("../img/icons/guarantee.png");
		}
		&--sheets {
			width: 40px;
			height: 39px;
			background-image: url("../img/icons/sheets.png");
		}
		&--economy {
			width: 46px;
			height: 46px;
			background-image: url("../img/icons/economy.png");
		}
		&--tachometer {
			width: 38px;
			height: 38px;
			background-image: url("../img/icons/tachometer.png");
		}
	}
}


// ========================================
// ** 6. POPULAR GOODS SECTION **
// ========================================
.sect-popular {
	padding: 97px 0;
	&__title {
		margin-bottom: 47px;
		color: $lightBlueColor;
		font-family: $robotoBold;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.025em;
	}
}

.popular-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popular-item {
	max-width: 260px;
	a {
		text-decoration: none;
	}
	&__img-block {
		position: relative;
	}
	&__img-info {
		position: absolute;
		left: 0;
		max-height: 26px;
		padding: 1px 12px;
		color: $whiteColor;
		font-family: $robotoBold;
		font-size: 10px;
		letter-spacing: 0.05em;
		box-shadow: 1px 1px 3px 0 rgba($blackColor, 0.35);
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 100%;
			display: block;
			width: 0;
			height: 0;
			margin-top: -26px;
			border: 6px solid $orangeColor;
			border-right: 2px solid transparent;
			border-bottom: 20px solid transparent;
		}
		&--amount {
			top: 10px;
			background-color: $orangeColor;
		}
		&--energy {
			top: 46px;
			background-color: $greenColor;
			&::after {
				border-color: $greenColor;
				border-right-color: transparent;
				border-bottom-color: transparent;
			}
		}
	}
	&__title {
		margin-bottom: 10px;
		color: $darkTextColor;
		font-family: $robotoBold;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.025em;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: $lightBlueColor;
		}
	}
	&__list {
		margin-bottom: 25px;
		overflow-x: hidden;
	}
	&__list-item {
		clear: both;
		color: #565656;
		font-size: 12px;
		line-height: 24px;
		&::before {
			content:
				"...................."
				"...................."
				"...................."
				"....................";
			float: left;
			width: 0;
			white-space: nowrap;
		}
		b {
			color: $blackColor;
			font-family: $robotoBold;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.025em;
		}
	}
	&__list-name {
		padding-right: 0.33em;
		background: $whiteColor;
	}
	&__list-descr {
		float: right;
		padding-left: 0.33em;
		background: $whiteColor;
	}
	&__list-dots {
		flex: 0 1 auto;
		&::before {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: clip;

		}
	}
	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__form-quantity {
		box-sizing: border-box;
		display: inline-block;
		width: 85px;
		max-width: 85px;
		max-height: 44px;
		padding-left: 16px;
		color: $textColor;
		font-family: $robotoBold;
		font-size: 14px;
		line-height: 40px;
		border: 1px solid #ccc;
		outline: 0;
	}
	&__form-submit {
		display: block;
		width: 143px;
		max-width: 143px;
		max-height: 44px;
		padding: 11px;
		color: $whiteColor;
		font-family: $robotoBold;
		font-size: 14px;
		letter-spacing: 0.05em;
		border: 2px solid $lightBlueColor;
		border-radius: 45px;
		background-color: $lightBlueColor;
		transition: all 0.35s ease-in-out;
		cursor: pointer;
		outline: 0;
		&:hover {
			color: $textColor;
			background-color: transparent;
		}
	}
}


// ========================================
// ** 7. ARTICLES SECTION **
// ========================================
.sect-articles {
	padding-bottom: 96px;
	&__title-block {
		margin-bottom: 50px;
	}
}
.articles-items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.slick-dots {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-end;
		top: 50%;
		right: 0;
		bottom: auto;
		transform: translateY(-50%);
		li {
			margin: 0 0 30px;
			 button {
				 width: 11px;
				 height: 11px;
				 padding: 0;
				 border-radius: 50%;
				 background: #d1d1d1;
				 box-shadow: none;
				 opacity: 1;
			 }
			&.slick-active {
				button {
					transform: scale(1.4);
					background-color: $lightBlueColor;
				}
			}
		}
	}
}
.articles-item {
	flex: 1 50%;
	max-width: 550px;
	padding-right: 30px;
	margin-bottom: 30px;
	display: flex !important;
	justify-content: space-between;
	outline: 0;
	&__img-block,
	&__content-block {
		flex: 1 50%;
	}
	&__title-link {
		text-decoration: none;
	}
	&__title {
		margin-bottom: 10px;
		color: $lighterBlueColor;
		font-family: $robotoBold;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.025em;
		transition: all 0.25s ease-in-out;
		&:hover {
			color: $lightBlueColor;
		}
	}
	&__descr {
		max-height: 215px;
		overflow: hidden;
		letter-spacing: 0.025em;
	}
	&__link {
		color: $lighterBlueColor;
		font-family: $robotoBold;
		font-size: 15px;
		line-height: 18px;
		text-decoration: none;
		transition: all 0.25s ease-in-out;
		&:hover {
			color: $lightBlueColor;
		}
	}
}


// ========================================
// ** 8. FEEDBACK SECTION **
// ========================================
.sect-feedback {
	position: relative;
	padding: 85px 0 50px;
	background: transparent url("../img/advantages-bg.png") no-repeat;
	background-size: cover;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-color: $lightBlueColor;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__title-block,
	&__content {
		flex: 1;
	}
	&__content {
		display: flex;
		flex-direction: column;
		padding-left: 70px;
	}
	&__title {
		color: $whiteColor;
		&::after {
			background-color: $whiteColor;
		}
	}
	&__text {
		margin-bottom: 8px;
		color: $whiteColor;
		font-family: $robotoLight;
	}
	&__company-name {
		font-family: $robotoMedium;
	}
	&__link {
		align-self: flex-end;
		display: block;
		width: 179px;
		max-width: 179px;
		max-height: 44px;
		padding: 8px;
		color: $whiteColor;
		font-family: $robotoBold;
		font-size: 14px;
		letter-spacing: 0.05em;
		text-align: center;
		text-decoration: none;
		border: 2px solid #04bbef;
		border-radius: 45px;
		background-color: #04bbef;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: $textColor;
			border-color: $whiteColor;
			background-color: $whiteColor;
		}
	}
}

// ========================================
// ** 9. MAIN FOOTER **
// ========================================
.main-footer {
	padding: 65px 0 13px;
	background-color: #3b3d40;
	&__wrapper {
		display: flex;
		align-items: flex-start;
		margin-bottom: 15px;
	}
	&__logo {
		max-width: 200px;
	}
	&__nav {
		flex: 1;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 85px;
		padding-right: 70px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: -23px;
			bottom: -84px;
			width: 1px;
			background-color: #626262;
		}
	}
	&__list-title {
		margin-bottom: 10px;
		color: $whiteColor;
		font-family: $robotoCondensed;
		font-size: 16px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	&__link {
		color: #c3c3c3;
		font-family: $robotoLight;
		font-size: 12px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__contacts {
		padding-left: 73px;
		padding-right: 70px;
		//margin-left: auto;
		color: $whiteColor;
	}
	&__contacts-icon {
		margin-right: 10px;
		fill: $whiteColor;
		transition: all 0.3s ease-in-out;
		&--location {
			width: 13px;
			height: 17px;
		}
		&--mail {
			width: 16px;
			height: 10px;
		}
		&--phone {
			width: 15px;
			height: 15px;
			path {
				fill: none;
				stroke: $whiteColor;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}
	}
	&__address {
		display: flex;
		margin-bottom: 15px;
		p {
			font-family: $robotoLight;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.05em;
		}
	}
	&__mail {
		margin-bottom: 15px;
		a {
			color: $whiteColor;
			font-family: $robotoLight;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 0.05em;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $textColor;
				svg {
					fill: $textColor;
				}
			}
		}
	}
	&__phones {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		max-width: 130px;
	}
	&__phone {
		font-family: $robotoCondensed;
		font-size: 16px;
		letter-spacing: 0.025em;
		text-transform: uppercase;
	}
	&__copy {
		color: #787878;
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 0.05em;
	}
}
